<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Planning Poker</title>
    <%= if Mix.env == :prod do %>
    <script>window.airbrake = {"projectKey": "<%= System.get_env("AIRBRAKE_PROJECT_KEY") %>", "projectId": "<%= System.get_env("AIRBRAKE_PROJECT_ID") %>", "environment": "<%= Mix.env %>"}</script>
    <% end %>
  </head>
  <body>
    <h1>Planning Poker is loading ...</h1>
    <script src="<%= static_path(@conn, "/assets/main.js") %>"></script>
  </body>
</html>
