<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sprint Poker - Easily estimate and plan tickets with your team!">
    <meta name="author" content="">
    <title>Sprint Poker</title>
    <%= if Mix.env == :prod do %>
    <script>window.airbrake = {"projectKey": "<%= System.get_env("AIRBRAKE_PROJECT_KEY") %>", "projectId": "<%= System.get_env("AIRBRAKE_PROJECT_ID") %>", "environment": "<%= Mix.env %>"}</script>
    <% end %>
  </head>
  <body>
    <div id="app">
      <h1>Sprint Poker is loading...</h1>
      <script src="<%= static_path(@conn, "/assets/main.js") %>"></script>
    </div>
    <footer>
      <p>
		  &copy; 2015 <a href="http://elpassion.com">EL Passion</a>
		  &nbsp;|&nbsp;
		  Sprint Poker <%= SprintPoker.Mixfile.project[:version] %>
		  &nbsp;|&nbsp;
		  Fork me on <a href="https://github.com/elpassion-labs/sprint-poker">GitHub</a>
		  &nbsp;|&nbsp;
		  Send us your feedback: <a href="mailto:poker@elpassion.com">poker@elpassion.com</a>
	  </p>
    </footer>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-16262642-8', 'auto');
     ga('send', 'pageview');
    </script>
  </body>
</html>
