.center-block
  float: none !important

body
  font-weight: 300


.logo
  margin: 20px 0 40px 0

.form
  margin: 10px
  padding: 40px
  background-color: #fff
  border: 1px solid #e7e7e7

  .error
    color: $brand-danger

  p
    padding: 0 10px
    margin-bottom: 30px

  label
    font-size: 12px
    letter-spacing: 2.4px
    text-transform: uppercase
    font-weight: 300

  select, input
    font-size: 14px
    padding: 15px

.label
  margin: 0 1px

button.btn-big-red
  background: linear-gradient(90deg, #ff4048 0%, #ff8042 100%)
  outline: none
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-size: 18px
  letter-spacing: 2px
  font-weight: 500
  color: #FFF
  padding: 20px
  width: 100%

  &:hover,
  &:focus
    background: linear-gradient(90deg, #ff4048 0%, #ff8042 100%)
    color: #FFF

button.btn-gray
  border: none
  width: 100%
  height: 100%
  display: block
  background-color: inherit
  font-size: 9pt
  font-weight: 700
  color: #aaa

  &:hover,
  &:focus
    color: #ff4847
    border: none
    outline: none

nav.navbar
  border-top: 4px solid #ff4847
  color: #000

  .small-logo
    margin-top: 15px

  .navbar-nav
    margin-top: 23px
    font-size: 9pt
    font-weight: 600

    .head
      margin-left: 10px
      padding-left: 10px
      border-left: 1px solid #eee

    .name
      color: #ff4847
      margin-left: 5px

    input
      height: 20px
      margin-left: 10px


table
  caption
    font-size: 20px
    color: #222
    font-weight: 600

    .counter
      color: #bebebe
      font-weight: 400
  th
    width: 1px
    vertical-align: middle !important

  td
    vertical-align: middle !important
    font-size: 14px
    font-weight: 400
    color: #000

  td.points
    background-color: #FFF
    width: 75pt
    color: #ff4947
    font-weight: 700


input.input-gray
  background: inherit
  border: none
  width: 100%
  height: 100%

  &:hover,
  &:focus
    border: none
    outline: none


.deck
  &.disabled
     cursor: not-allowed

  .card
    margin: 5px
    width: 110px
    height: 130px
    border: 2px solid #eee
    text-align: center
    font-size: 50px
    font-weight: 800
    line-height: 130px
    color: #000
    background: #FFF
    float: left

    &.selected
      background: linear-gradient(90deg, #ff4048 0%, #ff8042 100%)
      color: #FFF
